body{
  background-color: black;
  color: orange;
  font-family: verdana;
}

td{
  height: 40px;
}

.page-container{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
}

.metric-container{
  display: block;
}

.value-container, .slider-container{
  display: inline-block;
}
